![](TN-comunidades-Instituto-Tecnologico-de-Durango.png)
 
<div style = "Text-align: center">
    
# Analisis de datos masivos
## Evaluación de los errores de ajuste en la regresión lineal
## Nombre del docente 
### Jose Gabriel Rodriguez Rivas
## Nombre del alumno
### Oswaldo Zura Alvarado
    
</div>

### Parte 1: Importe las bibliotecas y los datos
En esta parte, importará las bibliotecas y los datos del archivo stores-dist.csv.

In [5]:
import warnings
warnings.filterwarnings('ignore')

# Import numpy and pandas
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [6]:
# Import the file stores-dist.txt
salesDist = pd.read_csv('stores-dist.txt')

# Change the column headings
salesDist.columns = ['district','sales','stores']

# Verify the imported data
salesDist

    district  sales  stores
0          1  231.0      12
1          2  156.0      13
2          3   10.0      16
3          4  519.0       2
4          5  437.0       6
5          6  487.0       5
6          7  299.0      11
7          8  195.0      13
8          9   20.0      16
9         10   68.0       9
10        11  570.0       2
11        12  428.0       8
12        13  464.0       4
13        14   15.0      15
14        15   65.0      12
15        16   98.0      11
16        17  398.0       5
17        18  161.0      14
18        19  397.0       8
19        20  497.0       2
20        21  528.0       1
21        22   99.0      15
22        23    0.5      13
23        24  347.0       7
24        25  341.0       6
25        26  507.0       1
26        27  400.0       9

In [7]:
# Drop the district column.
sales = salesDist.drop('district',axis=1)

# Verify that the district column has been dropped.
sales.head()

   sales  stores
0  231.0      12
1  156.0      13
2   10.0      16
3  519.0       2
4  437.0       6

### Parte 2: Cálculo de errores
En esta parte, utilizará numpy para generar una línea de regresión para los datos analizados. También calculará el centroide para este conjunto de datos. El centroide es la media del conjunto de datos. La línea de regresión lineal simple generada también debe atravesar el centroide.

También utilizará sklearn.metrics para evaluar el modelo de regresión lineal. Calculará la puntuación  R2  y el error medio cuadrático (MSE).

In [14]:
#dependent variable for y axis
y = sales.sales 
#independent variable for x axis
x = sales.stores

#### Paso 2: Calcule los valores de y en el modelo
En la práctica de laboratorio anterior, calculó los componentes para el ajuste de la regresión lineal con un modelo polinomial mediante np.polyfit para calcular el vector de los coeficientes p que minimiza el error cuadrático. Mediante np.poly1d, puede calcular el valor correspondiente para cada valor de x en el modelo polinomial estimado.

In [15]:
# compute the y values from the polynomial model for each x value
order = 1
p = np.poly1d(np.polyfit(x, y ,order))

print('The array p(x) stores the calculated y value from the polynomial model for each x value,\n\n{}.'.format(p(x)))
print('\nThe vector of coefficients p describes this regression model:\n{}'.format(p))
print('\nThe zeroth order term (y-intercept or b) is stored in p[0]: {}.'.format(p[0]))
print('\nThe first order term (slope or m) is stored in p[1]: {}.'.format(p[1]))

The array p(x) stores the calculated y value from the polynomial model for each x value,

[169.93468442 134.14759895  26.78634257 527.80553905 384.65719719
 420.44428266 205.72176988 134.14759895  26.78634257 277.29594081
 527.80553905 313.08302627 456.23136812  62.57342803 169.93468442
 205.72176988 420.44428266  98.36051349 313.08302627 527.80553905
 563.59262451  62.57342803 134.14759895 348.87011173 384.65719719
 563.59262451 277.29594081].

The vector of coefficients p describes this regression model:

-35.79 x + 599.4

The zeroth order term (y-intercept or b) is stored in p[0]: 599.3797099726614.

The first order term (slope or m) is stored in p[1]: -35.787085462974005.

#### Paso 3: Utilice diversas medidas para evaluar los modelos.
En este paso, utilizará sklearn para evaluar los modelos. Sklean ofrece una variedad de medidas. Calculará la puntuación  R2 , el error medio cuadrático (MSE) y el error medio absoluto (MAE) con las funciones en sklearn.

In [16]:
from sklearn.metrics import r2_score
r2 = r2_score(y, p(x))
r2

0.83217523508888

El error medio cuadrático (MSE) es una medida de qué tan bien se puede usar el modelo para realizar una predicción. Este número siempre es no negativo. Los mejores valores se encuentran más cercanos a cero.

In [17]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y, p(x))
mse

5961.386465941158

In [18]:
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y, p(x))
mae

61.2232611786873